---
import ContentWrapper from "@/components/ContentWrapper.astro";
import Breadcrumbs from "@/components/molecules/Breadcrumbs.astro";
import Layout from "@/layouts/Layout.astro";
import { cn } from "@/lib/utils";

const BREADCRUMBS = [
  { title: "Home", url: "/" },
  { title: "Me" },
];

const blockClasses = cn(
  // Position
  // Layout
  'block p-2 rounded-md group',
  // Styling
  'border-stone-200 bg-stone-100',
  'dark:bg-[#1E2938] border dark:border-[#99a1af]',
  // Other
);

const blockTitleClasses = cn(
  // Position

  // Layout

  // Styling
  'text-sm font-semibold text-electric-violet-700',
  "group-hover:text-electric-violet-400",
  'dark:text-electric-violet-400',
  "dark:group-hover:text-electric-violet-300",

  // Other
  'transition-colors ease-out',
);

---
<Layout title="Me" description="My personal content and interests.">
    <ContentWrapper>

        <main class="my-20">
            <Breadcrumbs items={BREADCRUMBS} />

            <h1>Me</h1>
        <div class="flex flex-col gap-6 mb-8">


            <div>
                <h2 class="font-semibold text-xs mb-2 uppercase opacity-70">Content</h2>

                <ul class="space-y-4">
                    <li>
                        <a class={`${blockClasses}`} href="/me/writing">
                            <h3 class={`${blockTitleClasses}`}>
                            Writing
                            </h3>
                            <p>
                                I share my thoughts and experiences on various topics related to software development, design, and productivity.
                            </p>
                        </a>
                    </li>
                    <li>
                      <a class={`${blockClasses}`} href="/me/til">
                          <h3 class={`${blockTitleClasses}`}>
                                TIL (Daily Learnings)
                            </h3>
                            <p>
                                A collection of small, daily learnings and insights I've gathered over time.
                            </p>
                        </a>
                    </li>
                </ul>
            </div>


            <div>
                <h2 class="font-semibold text-xs mb-2 uppercase opacity-70">Music</h2>

                <ul class="space-y-4">
                    <li>
                      <a class={`${blockClasses}`} href="/me/concerts">
                          <h3 class={`${blockTitleClasses}`}>
                                Concerts
                            </h3>
                            <p>
                                A list of concerts I've attended and those I hope to attend in the future.
                            </p>
                        </a>
                    </li>
                    <li>
                        <a class={`${blockClasses}`} href="https://www.instagram.com/huzzband/" target="_blank" rel="noopener noreferrer">

                            <h3 class={`${blockTitleClasses}`}>
                                Huzzband
                            </h3>
                            <p>
                                Music project alongside with other 3 brazilian friends.
                            </p>

                        </a>
                        </li>
                </ul>
            </div>
        </div>

        </main>
    </ContentWrapper>
</Layout>
